@charset "UTF-8";

div#content_list {
    width             : 100%;
    height            : 100%;
    background-image  : url("../img/home.jpg");
    background-size   : contain;
    background-repeat : no-repeat;
}

div#mapcanvas {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

