@charset "UTF-8";

.ui-dialog-contain {
  width     : 92.5%;
  max-width : 500px;
  margin    : 10% auto 15px auto;
  padding   : 0;
  /*
  position  : relative;
  top       : auto;
  */
  position  : relative;
  bottom    : 50%;
}

div#splashcontent {
    width             : 640;
    height            : 960;
    background-image  : url("../img/default.png");
    background-size   : contain;
    background-repeat : no-repeat;
}

div#mapcanvas {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

