@charset "UTF-8";

div#splashcontent {
    width             : 640;
    height            : 960;
    background-image  : url("../img/default.png");
    background-size   : contain;
    background-repeat : no-repeat;
}

div#mapcanvas {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

