@charset "UTF-8";

.ui-dialog-contain {
  width     : 92.5%;
  max-width : 500px;
  margin    : 50% auto 50% auto;
  padding   : 0;
  position  : relative;
  top       : -5px;
}

div#splashcontent {
    width             : 100%;
    height            : 100%;
    background-image  : url("../img/default.png");
    background-size   : contain;
    background-repeat : no-repeat;
}

div#mapcanvas {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

